.contactsForm {
    margin-top: 20px;
    background: url("../../assets/img/map-img.png") center center no-repeat;
    background-size: cover;
    display: grid;
    grid-template-areas:
            "name email"
            "message message"
            "btn btn";
    grid-gap: 40px 60px;
}

.formGroup {
    position: relative;
}

.formGroup_name {
    grid-area: name;
}

.formGroup_email {
    grid-area: email;
}

.formGroup_message {
    grid-area: message;
}

.formControl {
    display: block;
    width: 100%;
    background-color: transparent;
    color: #fff;
    border: 1px solid #5d5c60;
    outline: none;
    box-shadow: none;
    border-radius: 0;
    height: 46px;
    padding: 12px;
}

.formControl:focus {
    border: 1px solid var(--accent-color);
}

textarea.formControl {
    height: 120px;
    resize: none;
    padding-top: 18px;
}

.contactsForm .formButton {
    margin-bottom: 20px;
    max-width: 200px;
    width: 100%;
    text-transform: none;
    font-size: 18px;
    letter-spacing: 0.08em;
    color: white;
    background-color: var(--accent-color);
}

.contactsForm .formButton:hover,
.contactsForm .formButton:hover.formButton:disabled {
    background-color: var(--accent-color);
}

.alert {
    position: absolute;
    width: calc(100%);
}

@media screen and (max-width: 768px) {
    .contactsForm {
        grid-template-areas:
            "name name"
            "email email"
            "message message"
            "btn btn";
        grid-row-gap: 40px;
    }
}