.SkillsList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 60px;
}

.SkillsItem {
    min-height: 250px;
    padding: 0 20px;
    background-color: white;
    text-align: center;
}

.SkillsItem h3 {
    margin: 0;
}

@media screen and (max-width: 768px) {
    .SkillsList {
        grid-template-columns: minmax(300px, 360px);
        grid-gap: 30px;
        justify-content: center;
    }
}