.Social {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.Social .linkIcon {
    font-size: 0;
    padding: 5px;
    color: var(--light-gray-color);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all var(--default-transition);
}

.Social .linkIcon:hover {
    color: var(--accent-color);
}