.header {
    padding: 20px;
    background-color: lightskyblue;
    color: black;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;
    border-bottom: 1px solid var(--light-brown-color);
}

.navigation {
    margin-left: auto;
    max-width: 310px;
}

.navigationList {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.navigation li {
    margin-right: 20px;
}

.navigation li:last-child {
    margin-right: 0;
}

.navigation a {
    color: var(--light-gray-color);
    text-decoration: none;
    display: block;
    padding: 5px;

    line-height: 1.2;
    font-weight: 400;
}

.navigation .active,
.navigation a:hover {
    color: var(--accent-color);
    transition: color var(--default-transition);
}

@media screen and (max-width: 768px) {
    .header {
        padding: 15px;
        font-size: 16px;
    }

    .navigation {
        max-width: 258px;
    }

    .navigation li {
        margin-right: 10px;
    }
}