@import "~normalize.css";

:root {
    --accent-color: #b19777;
    --dark-color: #2c2a2f;
    --black-color: #111111;
    --light-gray-color: #e0e0e0;
    --light-brown-color: #434247;
    --default-transition: 0.2s linear;
    --default-background: lightgrey;
    --font-Montserrat: 'Montserrat', sans-serif;
    --font-OpenSans: 'Open Sans', sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}


html {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    min-width: 360px;
    height: 100%;

    font-family: var(--font-OpenSans);
    font-weight: 400;
    font-size: 16px;
    background-color: white;
}

h2 {
    font-size: 24px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.listReset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.container {
    width: 100%;
    max-width: 1074px;
    margin: 0 auto;
}

.contactsWrapper {
    position: relative;
}

.Portfolio {
    padding-top: 71px;
}

.section {
    padding: 80px 20px;
}

 h2 {
    position: relative;
    margin: 0 0 80px;
    text-align: center;
}

 h2::after {
    position: absolute;
    content: "";
    width: 40px;
    height: 2px;
    left: 50%;
    transform: translateX(-50%);
    top: 40px;
    background-color: var(--accent-color);
}

.section_pink {
    background-color: pink;
}

.section_light {
    background-color: var(--light-gray-color);
}

.section_dark {
    background-color: var(--dark-color);
}

.section_dark h2 {
    color: var(--light-gray-color);
}

@media screen and (max-width: 768px) {
    .Portfolio {
        padding-top: 58px;
    }

    .section h2 {
        margin: 0 0 50px;
        font-size: 22px;
    }

}
